body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #263747;
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-section {
  display: flex;
  flex-direction: row;
  height: calc( 100vh );
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.guide-section {
  width: calc(20% - 4px);
  background-color: #333;
  overflow-y: auto;
}

.guide-title {
  background-color: #111;
  height: fit-content;
  font-size: large;
  font-weight: bold;
  color: gray;
  padding: 10px;
  text-align: left;
}

.title-text {
  color: white;
  background-color: inherit;
  text-align: left;
  font-weight: bolder;
  padding: 10px;
}

.scrollable-container {
  overflow-y: scroll;
  color: #888;
  font-weight: bold;
  font-size: 15px;
  white-space: pre-wrap;
  text-align: left;
  padding: 10px;
  padding-bottom: 15px;
}

.scrollable-container::-webkit-scrollbar {
  width: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #333;
}

.gutter {
  width: 20px;
  cursor: ew-resize;
  background-color: #222;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gutter .line {
  width: 1px;
  height:50px;
  background-color: #cccccc;
}

.run-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #222222;
  overflow-y: auto;
}

.highlight-line {
  background-color: rgba(0, 255, 0, 0.3);
}

.copy-and-save-section {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: 45px;
  margin: 0;
  justify-content: space-between;
  background-color: #777;
  align-items: center;
}

.left-buttons {
  display: flex;
  gap: 20px;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.result-section {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.result-title {
  background-color: #111;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  color: gray;
  padding: 10px;
  text-align: left; 
}